<form action="/preschools/new" method="POST">
  <input type="text" name="name" placeholder="preschool name:">
  <input type="text" name="address" placeholder="address:">
  <input type="text" name="cost" placeholder="cost:">
  <input type="text" name="summary" placeholder="summary:">
  
  <input type="submit"  value="submit">

</form>
