<form action="/preschools/new" method="POST">
  <input type="text" name="name" placeholder="preschool name:"><br><br>
  <input type="text" name="address" placeholder="address:"><br><br>
  <input type="text" name="cost" placeholder="cost:"><br><br>
  <input type="text" name="summary" placeholder="summary:"><br><br>
  
  <input type="submit"  value="submit">

</form>
