<h1> Welcome!</h1>
<a href="/preschools/new"><button type="button">Add Preschool</button></a>
<br>
<a href="/logout"><button type="button">Sign out</button></a>

<h3> Here is a list of preschools all users have added </h3> 
	<% @preschools.all.each do |preschool| %>
	<ul>
		<li id="preschool_name"><%= preschool.name %></li>
		<li><%= preschool.address %></li>
		<li><%= preschool.cost %></li>
		<li><%= preschool.summary %></li>	
	</ul>
		<br>

<% end %>