<h1> Preschool Lister </h1>

<a href="/login"><button type="button">Login</button></a>
<br> 
<br>
OR 
<br>
<br>
<a href="/signup"><button type="button">Signup</button></a>
<br> 
<br>
OR 
<br>
<br>
<a href="/logout"><button type="button">Sign out</button></a>


